body {
    display: flex;
    font-family: 'Gaegu', cursive;    
    flex-direction: column;
    align-items: center;
    padding-top: 0px; 
}

.logo {
    padding-top: 5%;
    max-width: 25%;
}

.title {
    color: chocolate;
}

.contents {
    font-size: 16px;
    text-align: center;
}

details > summary {
    list-style: none;
    text-decoration: underline;
    color: chocolate;
    padding-top: 50%;
  }

.memberImageList {
    align-items: center;
}
